.body{
  width: 500px;
  height: 550px;
  margin: 20px auto;
  font-size: 18px;
  font-family: houschka-rounded, sans-serif;
}
.header1{
  padding: 10px 50px 10px 50px;
  margin: 0 auto 10px auto;
}
.header-container1{
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
}
.title1{
  height: 30px;
}
.title1 img{
  height: 30px;
  width: 265px;
}

.body-container{
  margin: 0 auto;
  align-items: center;
}
h1{
  font-size: 1.78947rem;
  margin: 0;
  padding:0 20px;
}
p{
  margin-top: 25px;
  padding: 0 25px;
  text-align: left;
  justify-content: center;
}
.formbox2{
  padding: 20px 30px 30px;
  margin: 0 auto ;
  align-items: center;
}
.formbox-container2{
  padding-bottom: 15px;
}
.formbox-input2{
  text-align: center;
}
.label{
  font-size: 1rem;
  font-weight: 600;
  line-height: 23px;
  color: black;
}
.formbox-input3{
  padding-top: 15px;
  display: block;
  text-align: center;
}
.inputbox3{
  border-radius: 30px 30px;
  height: 60px;
  font-size: 1rem;
  text-align: center;
  box-shadow: 0 2px 5px 0;
  border-style: none;
  z-index: 1;
  line-height: 23px;
  width: 100%;
  outline: none!important;
}
.formbutton-container{
  justify-content: center;
  align-items: center;
}
.form-button{
  padding: 0 120px;
}
.btn-box{
  height: 60px;
  background: linear-gradient(90deg, #c7081f 0%, #ec5700 100%);
  color: white;
  font-weight:300;
  box-shadow: 0 15px 30px 0;
  border-radius: 30px 30px;
  text-align: center;
  border-style: none;
  z-index: 1;
  line-height: 23px;
  width: 100%;
  padding: 0 20px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1.15789rem;
  text-decoration: none;
}
.signin-link4{
  margin: 0 auto;
  text-align: center;
}
.link4{
  font-size: 17px;
  color: #0e6df1;
  text-decoration: none;
  cursor: pointer;
}